[Desktop Entry]
Version=1.0
Type=Link
Name=(261) React Course - Beginner's Tutorial for React JavaScript Library [2022] - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=bMknfKXIFA8
